#shortTableOfAccounts {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#shortTableOfAccounts td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#shortTableOfAccounts tr:nth-child(even){background-color: #f2f2f2;}

#shortTableOfAccounts tr:hover {background-color: #ddd;}

#shortTableOfAccounts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.tableButtonEdit{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: #4CAF50;
    font-size: 10px;
    padding: 10px 24px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

.tableButtonDelete{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: red;
    font-size: 10px;
    padding: 10px 24px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

.button{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    background-color: chocolate; 
}

.nav{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#accountDetailsTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#accountDetailsTable td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#accountDetailsTable tr:nth-child(even){background-color: #f2f2f2;}

#accountDetailsTable tr:hover {background-color: #ddd;}

#accountDetailsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.validationMessage{
    font-size: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

#searchView{
    width: 70%;
    height: 43px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#searchButton{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    height: 40px;
    width: 10%;
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    margin: 6px 0;
    background-color: #4CAF50;; 
}

#searchDiv{
    background-color: rgba(0, 255, 255, 0.158);
}
